@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body1 {
  background: #0a2a43;
  min-height: 1500px;;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

section:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}


section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text
{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

#road
{
  z-index: 2;
}
div.a {
  color: rgb(243, 64, 64);
  font-size: 25px;
  margin-left: 15px;
  font-family: sans-serif;
  display: flex;
  align-items: center;

}
body2 {
  margin: 0;
  padding: 0;
  display: flex;
  height: 10vh;
  background: #0a2a43;
}


ul {
  margin-left: 225px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

ul li a {
  display: block;
  position: relative;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

ul:hover li a {
  transform: scale(1.5);
  opacity: .2;
  filter: blur(5px);
}

ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);

}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#ff497c;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
  z-index: -1;
}

ul li a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    top: 100px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
  }
  
  .profile-content-wrapper {
    padding: 30px;
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
  }

  .mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:400px;
    float: right;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    float: right;
    height:400px;
    width:400px;
  }