@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body1 {
  background: #0a2a43;
  min-height: 1500px;;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

section:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}


section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text
{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

#road
{
  z-index: 2;
}
div.a {
  color: #ff0000;
  font-size: 27.5px;
  margin-left: 15px;
  font-family: sans-serif;    
  display: flex;    
  align-items: center;

}
body2 {
  margin: 0;
  padding: 0;
  display: flex;
  height: 10vh;
  background: #0a2a43;
}


ul {
  margin-left: 270px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

ul li a {
  display: block;
  position: relative;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

ul:hover li a {
  transform: scale(1.5);
  opacity: .2;
  filter: blur(5px);
}

ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);

}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#ff497c;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
  z-index: -1;
}

ul li a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}

body3 {
    font-family: "Lato", sans-serif;
    margin: 0px;
    top: 100px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
  }
  
  .profile-content-wrapper {
    padding: 30px;
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
  }

  .mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:400px;
    float: right;
  }
 
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    float: right;
    height:400px;
    width:400px;
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
  background: #0f3958; 
}

a2 {
  color: #CC6666;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  margin-left: 50px;
}

form { 
  margin-top: 480px;
  margin-bottom: 50px;
  position: absolute;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:50%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid #CC4949; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 50%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }



.titlumare {
  color: rgb(93, 180, 151);
  margin-top: 13px;
  margin-bottom: 15px;
}

body {
  background: #0a2a43;
  text-align: center;
}

.title {
  color: #CC4949;
  margin-top: 5px;
}

.text {
  text-align: justify;
  margin-left: 7px;
  margin-right: 7px;
  text-indent: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.836);
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}